# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode/settings.json

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist

#Enviroment file
.env
.env.production

package-lock.json
pnpm-lock.yaml

.vscode